/* Universal styles */

.mission, .tea {
  border: solid skyblue 1px;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}


/* Header styles*/

header {
  display: flex;
  position:fixed;
  z-index: 1;
  top: 0;
  height: 69px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid seashell 1px;
  background-color: black;

}

header nav {
  margin-right: 30px;
}

a {
  color: seashell;
  margin-left: 20px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

/* Main Content */

/* Top section - Mission */

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  margin: 69px auto 0 auto;
  background-image: url("./img-mission-background.jpg");
  background-size: 700 1200px;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  height: auto;
  width: 1200px;
  margin: 0 auto;
  background-color: black;
  text-align: center;
}

/* Middle section - Tea of the Month */

.tea {
  width: 1000px;
  margin: 0 auto;
}

.tea_text {
  text-align: center;
}

.tea_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea_images img {
  height: 200px;
  width: 300px;
}

.tea_box  {
  width: 300px;
  text-align: center;
}

.tea_box h4 {
  margin-top: 10px;
}

#spiced_rum_tea {
  margin: 0 50px 0 50px;
}

#myrtle {
  margin-right: 25px;
}

#bedford {
  margin-left: 25px;
}


/* Bottom section - Locations */

.location_boxes {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
}
